#kwik_support #kwik_support_new_message                                             { margin-left: -10px; }
#kwik_support .kwik_support_messages .kwik_support_message_container .kwik_support_message_time { margin-top: -21px; }
#kwik_support .kwik_support_messages .kwik_support_round_bottom                           { width: 100%; }